@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

:root {
    --primary-color: rgb(23, 4, 91);
    --color-detalles: #44bba4;
    --font-family-title:'Kanit', sans-serif;
}



.page-header {
    /* background-color: black; */
    width: 100%;
    height: 3em;
    margin: 0;
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 7%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.box {
    position: relative;
}

input {
    width: 45px;
    height: 45px;
    background-color: #ddd;
    appearance: none;
    position: relative;
    right: 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 30px #00000026;
    display: flex;
    justify-content: center;
    align-items: center;
}

input::before {
    content: '\f550';
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    color: var(--color-general);
    font-size: 2em;
}

.nav {
    position: absolute;
    top: 45px;
    right: 38px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 0 30px #00000026;
    background-color: rgba(12, 45, 65, 0.9);
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.4s;
}

.nav a {
    margin: 15px;
}

.nav a:hover {
    color: #1c1c1c;
    animation: anim 0.5s;
}

.nav .item i {
    font-size: 2em;
}

@keyframes anim {
    0% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

input:checked~.nav {
    transform: scale(1);
}

input:checked:before {
    content: '\f00d';
}

.navbar {
    display: flex;

}

.navbar li {
    position: relative;
}

.navbar li a {
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 20px;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--color-detalles);
    left: 0;
    bottom: -4px;
    transition: ease .42s;
}


.navbar a:hover::after {
    width: 100%;
}

.btncvF{
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    font-weight: 900;
    background-color: #44bba4;
    color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    text-transform: uppercase;
    transition: all .34s;
    font-family: 'Inconsolata', monospace;
    border: 1px solid #ddd;
    position: absolute;
    bottom: 1em;
    top: unset;
    right: 15px;
    
}


.btncv {
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    font-weight: 900;
    background-color: #44bba4;
    color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    text-transform: uppercase;
    transition: all .34s;
    font-family: 'Inconsolata', monospace;
    border: 1px solid #ddd;
    position: fixed;
    bottom: -50em;
    right: 15px;
    display: none;
    
}

.btncvF:hover{
    transform: translateY(-10px);
}

.btncv:hover {

    transform: translateY(-10px);
}

.btncvF::before{
    content: 'MI ';
    display: inline-block;
    margin-right: 4px;
}

.btncv::before {
    content: 'MI ';
    display: inline-block;
    margin-right: 4px;
}

.navbar {
    display: none;
}



.contenedor-logo {

    display: flex;
    height: 2.5em;
    font-size: 1.2em;
    line-height: 2.5em;
    margin-left: 1em;
    overflow: hidden;
    font-family: 'Inconsolata', monospace;
    /* font-family: 'Secular One', sans-serif; */
}

.contenedor-logo ul {
    list-style: none;
    padding-left: 8px;
    color: #44bba4;
    animation: cambiar 5.5s infinite;
}

.contenedor-logo ul,
p {
    margin: 0;
}

@keyframes cambiar {
    0% {
        margin-top: 0;
    }

    30% {
        margin-top: 0;
    }

    40% {
        margin-top: -2.5em;
    }

    80% {
        margin-top: -2.5em;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}

.footer-css-header {
    width: 100%;
    margin: 0;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-title);
    font-weight: 100;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 2;


}

.contactos a:nth-child(1)~a {
    margin-left: 0.5em;
}

.contactos a:hover{
    color: var(--color-detalles);
    transition: 0.4s;
}


.contactos {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1.5em;

}

header.abajo {
    top: 0;
    transition: .4s;
}

header.abajo:before {
    content: '';
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    top: 0;
    bottom: 0;
    left: 0;
}

header.abajo input {
    box-shadow: unset;
    transition: .4s;
}

header.abajo p {
    color: #ddd;
}

header.abajo .navbar li a {
    color: #ddd;
}






@media (min-width: 768px) {

    .btncv{
        display: none;
    }

    .btncvF{
        display: block;
    }

    .btncvF::before {
        content: 'DESCARGAR ';

    }

}

@media (min-width:992px) {
    .navbar {
        display: flex;
    }

    .btncv{
        display: block;
    }

    .btncvF{
        display: none;
    }

    .btncv::before {
        content: 'DESCARGAR ';

    }

    .btncv {
        position: relative;
        padding: 20px 10px;
        z-index: 1000;
        bottom: -15px;
        right: 0;
    }

}