/*
#1 sobre mi
#2 portfolio
#3 conocimientos
#4 contacto
*/

/*Sobre mi*/



@media screen and (min-width:768px) {
    .portfolio .column {
        width: 33.33%;
    }


    .overflow-y-none {
        overflow-y: hidden;
    }

    body {
        padding: 0;
    }

    /*#1 Sobre mi*/
    .row {
        flex-direction: row;
    }

    aside,
    main {
        width: 50%;
    }

    /* .circulo-fondo,
    .circulo-titulo {
        display: block;
    } */

    .circulo-fondo {
        width: 20em;
        height: 20em;
        top: 35%;
        position: relative;

    }

    .circulo-titulo {
        width: 20em;
        height: 20em;
        position: relative;
        top: 7em;
        left: -7em;
        display: none;
    }

    .imagen768 {
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .imagenMovil {
        display: none;
        width: 30em;
    }

    aside .columnSm {
        width: 100%;
        display: flex;
        /* justify-content: center;
        align-items: center; */

    }

    main .columnSm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .slide {
        top: 50%;
        left: 50%;
        color: rgb(12, 45, 65);
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .slide h1 {
        font-size: 3em;
    }

    .slide h2 {
        font-size: 2em;
        white-space: nowrap;
    }

    article .slide p {
        width: 40%;
    }

    .slide-sm {
        padding-right: 1em;
    }


    .sobreMi p {
        font-size: 1em;
        padding-right: 1em;
    }

    .cualidades i {
        font-size: 2em;
    }


    .row-container {

        padding: 5em;
    }

    .portfolio .column {
        width: 100%;
    }

    .portfolio .column figure figcaption>div {
        margin-top: 1em;
        padding: 3em;
        
    }

    .skills .textSkills{
        display: block;
        text-align:initial;
      }

      .contactame{
        width: 40%;
      }
}




@media screen and (min-width:992px) {

    .box {
        display: none;
    }

    .overflow-y-none {
        overflow-y: hidden;
    }

    body {
        padding: 0;
    }

    /*#1 Sobre mi*/
    .row {
        flex-direction: row;
    }

    aside,
    main {
        width: 50%;
    }

    .circulo-fondo,
    .circulo-titulo {
        display: block;
    }

    .circulo-fondo {
        width: 25em;
        height: 25em;
        top: 36%;
        left: 4%;
        position: relative;

    }

    .circulo-titulo {
        width: 20em;
        height: 20em;
        position: relative;
        top: 12%;
        left: -18%;
    }

    .imagen768 {
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .imagenMovil {
        display: none;
        width: 30em;
    }

    aside .columnSm {
        width: 100%;
        display: flex;
        /* justify-content: center;
        align-items: center; */

    }

    main .columnSm {
        display: flex;
        align-items: center;
    }

    .slide {
        top: 50%;
        left: 50%;
        color: rgb(12, 45, 65);
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .slide h1 {
        font-size: 3em;
    }

    .slide h2 {
        font-size: 2em;
        white-space: nowrap;
    }

    article .slide p {
        width: 40%;
    }

    .slide-sm {
        display: none;
    }


    .sobreMi p {
        width: 70%;
        font-size: 1em;
    }

    #sobremi {
        padding-left: 8em;
    }

    .cualidades i {
        font-size: 2em;
    }



    .row-container {

        padding: 5em;
    }

    .portfolio .column {
        width: 50%;
    }

    .portfolio .column figure figcaption>div {
        margin-top: 1em;
        padding: 3em;
        
    }

    .card{
        grid-template-columns: auto auto;
    }

    .skills .textSkills{
        display: block;
        text-align:initial;
      }

      .contactame{
        width: 40%;
      }
    
}