/*
#1 sobre mi
#2 portfolio
#3 conocimientos
#4 contacto
*/

.wrapper,
.row,
.columnSm,
.portfolio {
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*#1 sobre mi*/

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

aside{
  width: 100%;
  margin-top: 2em;
}



main {
    width: 100%;
    padding: 2em;
}





.info-container {
    display: flex;

}

.imagen768 {
    width: 30em;
    position: absolute;
    display: none;

}

.imagenMovil {
    width: 25em;
    position: absolute;
    top: 0.7em;
    left: 50%;
    transform: translateX(-50%);
}




.circulo-fondo {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background-color: aliceblue;
    display: block;
}

.circulo-titulo {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    background-color: aliceblue;
    
    display: none;
}


.slide {
    display: flex;
    flex-direction: column;
    position: relative;

}

article .slide p {
    width: 100%;

}

.slide .iam {
    font-weight: 300;
    font-size: 1.2em;
}


.sobreMi h1 {
    font-weight: 900;
    font-size: 6em;
}

article h2 {
    font-size: 3em;
    margin-top: -0.6em;
}

.sobreMi p {
    width: 100%;
    font-size: 1em;
}

.sobreMi {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 3em;

}

.sobreMi h1,
.sobreMi h2 {
    font-size: 2em;
}

.cualidades {
    margin-top: 0.5em;
}

.cualidades i {
    margin: 0.5em 0.5em 0 0;

    font-size: 1.6em;
}


/*#2 portfolio*/
.portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;

}


.row-container {
    display: flex;
    flex-wrap: wrap;
    padding: 4em 0em;
    gap: 2em;
}



.portfolio .column {
    width: 100%;
    
}

.portfolio .column figure {
    /* border: 1px solid #ddd; */
    box-shadow: 0 0 4px 0 #000;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.portfolio .column figure:hover figcaption {
    transform: translateY(0%);
    white-space: normal;
    transition: .4s;
    padding: 1em;
    font-size: 14px;
    
}

.portfolio .column figure figcaption {
    padding: 0.5em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    inset: 0;
    transform: translateY(calc(100% - 3.3em));
}

.portfolio .column figure figcaption>div:first-child {
    flex-grow: 1;
}

.portfolio .column figure figcaption>div:last-child {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.portfolio .column figure figcaption .icons i{
  font-size: 2.1em;
  padding: .5em;
}



.portfolio .column img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
}


.portfolio .column figure figcaption h2 {
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.portfolio .column figure figcaption a {
    padding: 0.7em;
    font-family: var(--font-family);
    font-weight: 600;
    color: rgb(12, 45, 65);
    cursor: pointer;
    border-radius: 6px;
    border: none;
    background-color: #ddd;
    display: inline-block;
}

.portfolio .column figure figcaption a:hover {
    background-color: var(--color-detalles);
    color: var(--color-primary);
    transition: 0.4s;
}

.portfolio .column figure figcaption a:hover::after {
    content: " \2192";
}


/*#3 conocimientos*/
.wraperConocimientos{
    display: flex;
}

#conocimientos{
    width: 100%;
}

.conocimientos{
    display: flex;
    justify-content: center;
    margin: 5em 0;
    width: 100%;
}
.skills{
    padding: 1em 0;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    width: 100%;
  }

.card .columnF-end{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 67vh;
    margin-top: 2em;
    
}

.columnF-end .container_skills:first-child{
    margin-bottom: 4em;
}


.front-end .card__title{
    font-size: 3em;
}

.front-end .skills__bar{
    height: 14px;
}

.front-end .skills__item{
    margin-bottom: 2em;
}

.card{
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
}

.card .column:last-child{
    margin-top: 1em;
}
  .card__title{
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    font-size: 2em;
  }
  
  .experiencia{
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
  }
  
  .skills .textSkills{
    font-size: 12px;
    margin-right: 10px;
  }

  .skills__header{
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-left: auto ;
    position: relative;
    top: 20px;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
  }
  

  .front-end .skills__tech{
    font-size: 1.8em;

  }

  .skills__tech{
    margin-right: 10px;
    font-size: 0.8em;
  }

  .front-end .skills__tech p{
    font-size: 15px;
    font-weight: 600;
    margin-left: 1em;
  }
  
  .skills__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
    padding: 0.2em;
    
  }
  
  .skills__bar,.skills__bar::after{
    position: relative;
    width: 175px;
    height: 10px;
    background-color: #888;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .skills__bar::after{
    content: "";
    position: absolute;
    left: -175px;
    transition: .3s;
    background-color: rgb(9, 113, 51);
    animation: skills-bar-fill 2s ease-in-out forwards;
    margin-left: 0.5em;
    height: 14px;
  }
  
  .skills__bar--100::after{
    --skills-bar-lenght:95%;
  }
  
  .skills__bar--80::after{
    --skills-bar-lenght:80%;
  }
  
  .skills__bar--70::after{
    --skills-bar-lenght:70%;
  }
  
  .skills__bar--60::after{
    --skills-bar-lenght:60%;
  }
  
  .skills__bar--50::after{
    --skills-bar-lenght:50%;
  }
  
  .skills__bar--40::after{
    --skills-bar-lenght:40%;
  }
  
  .skills__bar--20::after{
    --skills-bar-lenght:20%;
  
  }

  .skills__bar--30::after{
    --skills-bar-lenght:30%;
  
  }
  
  
  
  
  @keyframes skills-bar-fill {
  
    to{
      transform: translateX(var(--skills-bar-lenght));
    }
    
  }

  /*contactos*/

  #contacto{
    width: 100%;
  }

  .contactame{
    width: 100%;
    padding: 0 1em;
  }

  
  .inputForm{
    width: 100%;
    margin: 0;
    position: static;
    padding: 1em;
    margin-bottom: 1em;

  }

  .inputForm:focus{
    background-color: rgb(12, 45, 65);
    color: var(--color-primary);
    outline: none;
    font-family: var(--font-family);
    border: 2px solid var(--color-primary);
    transition: .4s;
  }

  .formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2em 0;
  }

  .formulario label{
    font-family: var(--font-family);
  }

  .formulario textarea{
    border-radius: 10px;
    margin-bottom: 1em;
    background-color: var(--color-primary);
    padding: 1em;
  }

  .formulario textarea:focus{
    background-color: rgb(12, 45, 65);
    color: #ddd;
    outline: none;
    font-family: var(--font-family);
    border: 2px solid var(--color-primary);
    transition: .4s;
    padding: 1em;
    }

  .formContacto a{
    display: none;
  }

  .formulario button{
    padding: 1em;
    width: 30%;
    border-radius: 10px;
    font-family: var(--font-family);
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: 0 0 4px 0 var(--color-primary);
    cursor: pointer;
  }

  .formulario button:hover{
    background-color: rgb(12, 45, 65);
    color: var(--color-primary);
    transition: .4s;
  }

  .columnContact{
   
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contacto{
    padding: 0;
  }

  .textContact{
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin-top: -1em;
  }

  .textContact h1{
    margin-top: 1em;
  }